
body {
  background-image: url("Dark\ Green\ Modern\ Gradient\ Wave\ Linktree\ Background.png");
  background-repeat: none;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the container takes up the full height of the viewport */
  margin: 0; /* Remove default body margin to avoid unexpected offsets */
}

.headerbox{
  display: flex;
  justify-content: space-between;
  background-color: rgb(216, 143, 5);
  padding:0px 20px;
  border-radius: 10px;
  color:white;
  font-weight: lighter;
}

h2{
  font-size: 1.3rem;
}

span{
  font-size: .7rem;
}

.barbox{

  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}

.detailbox{
  display: flex;
  justify-content: space-between;
}

p{
  font-weight: bolder;
  margin-top: 29px;
  font-size: .8rem;
}

.span{
  font-weight:light;
}